.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 796px;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form input {
  height: 40px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.button {
  height: 40px;
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.form button {
  width: 100%;
  width: 200px;
  height: 40px;
  border: 0;
  background-color: green;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.form button:hover {
  width: 300px;
  background-color: rgb(44, 92, 224);
  border-radius: 30px 0 0 30px;
}


.list {
  width: 100%;
  max-width: 796px;
  margin-top: 20px;
}

.list-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.list-header button {
  width: 200px;
  height: 40px;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  border-bottom: 1px dashed #ccc;
}

.grid span {
  padding: 5px;
  text-align: center;
}
