<div class="main">
  <div class="header">
    <h3>Cardappio</h3>
  </div>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="name" placeholder="Nome">
      <input type="text" formControlName="cpf" placeholder="Cpf">
      <input type="date" formControlName="birthDate" placeholder="Data de Nascimento">
      <input type="number" formControlName="phoneNumber" placeholder="Telefone">
      <input type="text" formControlName="email" placeholder="E-mail">

      <div class="button">
        <button [hidden]="!form.valid" [formAction]="onSubmit">Enviar</button>
      </div>
    </form>
  </div>
</div>
