<div class="main">
  <div class="header">
    <h3>Cardappio</h3>
  </div>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="name" placeholder="Nome">
      <input type="text" formControlName="cpf" placeholder="Cpf">
      <input type="date" formControlName="birthDate" placeholder="Data de Nascimento">
      <input type="number" formControlName="phoneNumber" placeholder="Telefone">


      <div class="button">
        <button [hidden]="!form.valid" [formAction]="onSubmit">Enviar</button>
      </div>
    </form>
  </div>

  <div class="list">
    <div class="list-header">
      <h4>Pessoas</h4>
    </div>
    <div class="grid">
      <span><b>Id</b></span>
      <span><b>Nome</b></span>
      <span><b>CPF</b></span>
      <span><b>Data de Nascimento</b></span>
      <span><b>Telefone</b></span>
    </div>
    @for (person of people; track $index) {
      <div class="grid">
        <span>{{ person.id }}</span>
        <span>{{ person.name }}</span>
        <span>{{ person.cpf }}</span>
        <span>{{ person.birthDate }}</span>
        <span>{{ person.phoneNumber }}</span>
      </div>
    }
  </div>
</div>

@if (error) {
  <div class="show-error" >
    {{ error }}
  </div>
}
